/sesiones/CONCEPTOSBASICOS/nbproject/private/
/sesiones/CONCEPTOSBASICOS/build/
/sesiones/ReutilizaciondeCodigo/nbproject/private/
/sesiones/ReutilizaciondeCodigo/build/
/sesiones/TareaClases/nbproject/private/
/sesiones/TareaClases/build/
/sesiones/JavaBasico/nbproject/private/
/sesiones/JavaBasico/build/
/sesiones/JavaBasico/dist/
/sesiones/PruebaEjemplo/nbproject/private/
/sesiones/PruebaEjemplo/build/
/sesiones/PruebaEjemplo/dist/
